<configuration>
    <property name="LOG_DIR" value="logs" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="LOGGING_INTERCEPTOR_FILE" class="ch.qos.logback.core.FileAppender">
        <file>C:\Java-job\TeachMeSkills_C32_The_Market_Project\logs/logging_interceptor.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.teachmeskills.market.interceptor.LoggingInterceptor" level="DEBUG" additivity="true">
        <appender-ref ref="LOGGING_INTERCEPTOR_FILE" />
    </logger>

</configuration>